.link {
  font-family: Qanelas;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.28px;
  text-align: center;
  color: var(--white-color);
  opacity: .3;
}

.active_link {
  font-size: 12px;
  font-weight: 700;
  line-height: 14.87px;
  text-align: center;
  color: var(--white-color);
  opacity: 1;
}